@import 'react-datepicker/dist/react-datepicker.css';
@import './components/loader/index.style.css';

body {
    display: grid;
    place-content: center;
}

.grid-container {
    display: flex;
}

.table-grid {
    margin-top: 30px;
    width: 1000px;
}

.date-picker {
    width: 250px;
}
